:root
{
    --btn-color: rgb(0, 168, 132);
    --btn-hover-color: rgb(0, 154, 123);
}

.sidebar-container
{
    width: 18.75rem;
    height: inherit;
    border: 1px solid black;
    margin-left: 1px;
    border-radius: 0.6125rem;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.sidebar-container::-webkit-scrollbar
{
    width: 0rem;
}

.tabs
{
    height: 3rem;
    background-color: grey;
     border-radius: 0.6125rem;
     display: flex;
}

.tabs button
{
    background-color: var(--btn-color);
    color: white;
    border-radius: 0.6125rem;
    border: none;
    margin: 0.125rem;
    font-size: 1.25rem;
    cursor: pointer;
    width: 50%;
}

.tabs button:hover
{
    background-color: var(--btn-hover-color);
}

.content
{
    height: 80%;
    background-color: white;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.content::-webkit-scrollbar
{
    width: 0;
}

.contact-id
{
    color: rgb(160, 160, 160);
}

.action-btn
{
    width: calc(100% - 5px);
    background-color: var(--btn-color);
    border-radius: 0.6125rem;
    color: white;
    padding: 0.6125rem 0;
    font-size: 1.25rem;
    cursor: pointer;
}

.action-btn:hover
{
    background-color: var(--btn-hover-color);
}

@media (width < 600px) {
    .sidebar-container {
        width: 100%;
    }
}